/**
* @file /css/common.css
*/

@import url("normalize.css");
@import url("transitions.css");
@import url("animation.css");

body.type-landscape {max-width:1920px}
body.type-portrait  {max-width:1080px; max-height:1920px;}

.main-content {overflow:hidden;position:relative;top:0;left:0;width:100%;height:100%; max-width:1920px; -webkit-perspective:1200px; perspective:1200px;background:#111;}
.main-content .page-content {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    z-index:10;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}
.main-content .page-current {visibility:visible;z-index:20;}
.main-content .page-inside {height:100%;}

#globalVideo {width:100%; height:100%; position: absolute; left:0; top:0; z-index:100;}

.notice-text {display:none; width:100%; font-size:30px; box-sizing:border-box; overflow:hidden; color:#000;}
.notice-text p {position:absolute; left:0; background: #fff; height: 50px;line-height: 50px; width:102%;}
.notice-text [class^="notice-move-right"] {left:-10px;}
.notice-text [class^="notice-move-left"] {right:-10px;}
.notice-text [class^="notice-move-relay"] {left:-10px;}
.notice-text [class*="-top"] {top:0;}
.notice-text [class*="-center"] {top:50%; margin-top:-25px}
.notice-text [class*="-bottom"] {bottom:0;}

#noticeLayer {display:none; position:absolute; width:100%; height:100%;}
.notice-layer {
    display:table;
    width:100%; 
    height:100%; 
    text-align:center; 
    padding:10%; 
}

.notice-layer strong {display:block; font-size:55px; line-height:65px; color:#000; margin-bottom:20px;}
.notice-layer p {font-size:40px; line-height:55px}

.notice-layer:after {content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.5; -ms-opacity:0.5; z-index:9;}
.notice-layer .alert {display:none; position:relative; width:100%; height:100%; max-height:700px; z-index:10; padding:5%; box-sizing: border-box; background:#fff; border-radius:20px; display:table-cell; vertical-align:middle;
    -webkit-box-shadow: inset 0px -2px 33px -10px rgba(0,0,0,0.48); 
    -moz-box-shadow: inset 0px -2px 33px -10px rgba(0,0,0,0.48); 
    box-shadow: inset 0px -2px 33px -10px rgba(0,0,0,0.48);
    border:5px solid #000;
}
.notice-layer .alert p:before {
 content:""; display:block; height:128px; margin-bottom:30px; background:url("../source/info-128x128.png") no-repeat center top;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
 -ms-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-ms-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}