@import url("normalize.css");
@import url("transitions.css");

.main-content {overflow:hidden;position:relative;top:0;left:0;width:100%;height:100%;-webkit-perspective: 1200px; perspective: 1200px;background:#111;}
.main-content .page-content {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index:10;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}
.main-content .page-current {visibility:visible;z-index:20;}
.main-content .page-inside {height:100%;}