<!-- 보드 A -->
<div class="comp_board">
    <div class="bg" style="background-image:url('Template/assets/source/board_a_bg.jpg');"></div>
    
    <!-- 내용 -->
    <div class="content">
        <div class="movie_area">
            <!-- <iframe width="100%" height="100%" src="http://www.youtube.com/embed/-BEOSjvl38c" frameborder="0" allowfullscreen></iframe> -->
            <video class="video-mask" data-type="video" src="Template/assets/source/veloster.mp4" loop control></video>
        </div>
    </div>
    <!-- // 내용 -->
</div>
<!-- // 보드 A -->