<!-- 보드 C -->
<div class="comp_board">
    <video class="bg" autoplay loop>
        <source type="video/mp4" src="Template/assets/source/board_c_bg.mp4">
    </video>
    
    <!-- 내용 -->
    <div class="content">
        <!-- 음료이미지 -->
        <div class="drink">
            <ul>
                <li>
                    <figure>
                        <img src="Template/assets/source/board_c_drink_img1.png" alt="">
                        <figcaption><img src="Template/assets/source/empty.png" alt="맛있는 도넛과 함께하는 아메리카노" data-gif="Template/assets/source/board_c_drink_name1.gif" data-empty="Template/assets/source/empty.png"></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="Template/assets/source/board_c_drink_img2.png" alt="">
                        <figcaption><img src="Template/assets/source/empty.png" alt="녹을수록 완벽한 커피큐브 카라멜마끼아또" data-gif="Template/assets/source/board_c_drink_name2.gif" data-empty="Template/assets/source/empty.png"></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="Template/assets/source/board_c_drink_img3.png" alt="">
                        <figcaption><img src="Template/assets/source/empty.png" alt="기분까지 좋아지는 달콤함 카라멜마끼아또" data-gif="Template/assets/source/board_c_drink_name3.gif" data-empty="Template/assets/source/empty.png"></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="Template/assets/source/board_c_drink_img4.png" alt="">
                        <figcaption><img src="Template/assets/source/empty.png" alt="진한 초코의 풍미 핫초코" data-gif="Template/assets/source/board_c_drink_name4.gif" data-empty="Template/assets/source/empty.png"></figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <!-- // 음료이미지 -->
        
        <!-- coffee -->
        <section class="comp_menu">
            <h2><img src="Template/assets/source/title_coffee.png" alt="COFFEE"></h2>
            <p class="option">
                <span>HOT</span>
                <span>ICED</span>
            </p>
            <ul class="list">
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">아메리카노</span>
                                <span class="eng">Americano</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,500</li>
                                    <li>3,500</li>
                                </ul>
                                <span class="kcal">15 | 15 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">카페라떼</span>
                                <span class="eng">Cafe Latte</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,800</li>
                                    <li>3,800</li>
                                </ul>
                                <span class="kcal">165 | 105 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">카푸치노</span>
                                <span class="eng">Cappuccino</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,300</li>
                                    <li>&#160;</li>
                                </ul>
                                <span class="kcal">165 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">카페모카</span>
                                <span class="eng">Cafe Mocha</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>4,200</li>
                                </ul>
                                <span class="kcal">310 | 270 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">카라멜마끼아또</span>
                                <span class="eng">Caramel Macchiato</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>4,200</li>
                                </ul>
                                <span class="kcal">260 | 307 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">쿠앤크라떼</span>
                                <span class="eng">Cookie &#38; Cream Latte</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>4,200</li>
                                </ul>
                                <span class="kcal">340 | 300 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">솔티크림 아메리카노</span>
                                <span class="eng">Salty Cream Americano</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>4,000</li>
                                    <li>4,500</li>
                                </ul>
                                <span class="kcal">175 | 175 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">맨하탄드립커피</span>
                                <span class="eng">Manhattan Drip Coffee</span>
                            </dt>
                            <dd>
                                <ul class="price small">
                                    <li><sub>S</sub> 2,300</li>
                                    <li><sub>R</sub> 3,000</li>
                                    <li><sub>L</sub> 3,700</li>
                                </ul>
                                <span class="kcal">15 / 20 / 25 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </section>
        <!-- // coffee -->
        
        <!-- choco -->
        <section class="comp_menu menu_choco">
            <h2><img src="Template/assets/source/title_choco.png" alt="CHOCO, TEA LATTE"></h2>
            <p class="option">
                <span>HOT</span>
                <span>ICED</span>
            </p>
            <ul class="list">
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">초코</span>
                                <span class="eng">Choco</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,000</li>
                                    <li>3,500</li>
                                </ul>
                                <span class="kcal">290 | 255 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">쿠앤크초코</span>
                                <span class="eng">Cookie &#38; Cream Choco</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,500</li>
                                    <li>4,000</li>
                                </ul>
                                <span class="kcal">455 | 360 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">티라떼 <sup>(밀크티)</sup></span>
                                <span class="eng">Milk Tea Latte</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,000</li>
                                    <li>3,500</li>
                                </ul>
                                <span class="kcal">300 | 265 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">버블 밀크티 라떼</span>
                                <span class="eng">Bubble Milk Tea Latte</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,600</li>
                                    <li>4,100</li>
                                </ul>
                                <span class="kcal">364 | 329 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">버블킹라떼 <sup>(잉글리쉬블랙퍼스트)</sup></span>
                                <span class="eng">Bubble King Latte <sup>(English Breakfast)</sup></span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>4,500</li>
                                </ul>
                                <span class="kcal">260 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">국화차</span>
                                <span class="eng">Chrysanthemum</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,000</li>
                                    <li>3,500</li>
                                </ul>
                                <span class="kcal">14 | 14 Kcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <span class="kor">녹차</span>
                                <span class="eng">Green Tea</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,000</li>
                                    <li>3,500</li>
                                </ul>
                                <span class="kcal">2 | 2 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">핫프룻티 <sup>(자몽)</sup></span>
                                <span class="eng">Hot Fruit Tea <sup>(GrapeFruit)</sup></span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>&#160;</li>
                                </ul>
                                <span class="kcal">115 Kcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <span class="kor">핫프룻티 <sup>(오렌지)</sup></span>
                                <span class="eng">Hot Fruit Tea <sup>(Orange)</sup></span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>&#160;</li>
                                </ul>
                                <span class="kcal">185 Kcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <span class="kor">핫프룻티 <sup>(유자)</sup></span>
                                <span class="eng">Hot Fruit Tea <sup>(Citron)</sup></span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,900</li>
                                    <li>&#160;</li>
                                </ul>
                                <span class="kcal">290 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <dl>
                            <dt>
                                <span class="kor">아이스티 복숭아</span>
                                <span class="eng">Ice Tea Peach</span>
                            </dt>
                            <dd>
                                <ul class="price">
                                    <li>3,000</li>
                                </ul>
                                <span class="kcal">160 Kcal</span>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </section>
        <!-- // choco -->
    </div>
    <!-- // 내용 -->
</div>
<!-- // 보드 C -->