<!-- 보드 C -->
<div class="comp_board">
    <video class="bg" autoplay loop>
        <source type="video/mp4" src="{{Background}}">
    </video>
    
    <!-- 내용 -->
    <div class="content">
        <!-- 음료이미지 -->
        <div class="drink">
            <ul>
                {{#each this.PromotionList}}
                <li>
                    <figure>
                        <img src="{{MenuImage}}" alt="">
                        <figcaption><img src="Template/assets/source/empty.png" alt="텍스트 이미지" data-gif="{{TextImage}}" data-empty="Template/assets/source/empty.png"></figcaption>
                    </figure>
                </li>
                {{/each}}
            </ul>
        </div>
        <!-- // 음료이미지 -->
        
        <!-- coffee -->
        <section class="comp_menu">
            <h2><img src="{{PlateGroup1Image}}" alt="COFFEE"></h2>
            <p class="option">
                <span>HOT</span>
                <span>ICED</span>
            </p>
            <ul class="list">
                {{#each this.PlateGroup1}}
                <li>
                    <div class="inner">
                        {{#each this.MenuList}}
                        <dl>
                            <dt>
                                <span class="kor">{{{Name}}}</span>
                                <span class="eng">{{{SubName}}}</span>
                            </dt>
                            <dd>
                                {{#if Price3}}
                                <ul class="price small">
                                    <li><sub>S</sub> {{Price1}}</li>
                                    <li><sub>R</sub> {{Price2}}</li>
                                    <li><sub>L</sub> {{Price3}}</li>
                                </ul>
                                {{else}}
                                <ul class="price">
                                    {{#if Price1 }}
                                    <li>{{{Price1}}}</li>
                                    {{/if}}
                                    {{#if Price2}}
                                    <li>{{{Price2}}}</li>
                                    {{/if}}
                                </ul>
                                {{/if}}
                                <span class="kcal">{{{Description}}}</span>
                            </dd>
                        </dl>
                        {{/each}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </section>
        <!-- // coffee -->
        
        <!-- choco -->
        <section class="comp_menu menu_choco">
            <h2><img src="{{PlateGroup2Image}}" alt="CHOCO, TEA LATTE"></h2>
            <p class="option">
                <span>HOT</span>
                <span>ICED</span>
            </p>
            <ul class="list">
                {{#each this.PlateGroup2}}
                    <li>
                        <div class="inner">
                            {{#each this.MenuList}}
                            <dl>
                                <dt>
                                    <span class="kor">{{{Name}}}</span>
                                    <span class="eng">{{{SubName}}}</span>
                                </dt>
                                <dd>
                                    {{#if Price3}}
                                        <ul class="price small">
                                            <li><sub>S</sub> {{Price1}}</li>
                                            <li><sub>R</sub> {{Price2}}</li>
                                            <li><sub>L</sub> {{Price3}}</li>
                                        </ul>
                                    {{else}}
                                        <ul class="price">
                                            {{#if Price1 }}
                                            <li>{{{Price1}}}</li>
                                            {{/if}}
                                            {{#if Price2}}
                                            <li>{{{Price2}}}</li>
                                            {{/if}}
                                        </ul>
                                    {{/if}}
                                    <span class="kcal">{{{Description}}}</span>
                                </dd>
                            </dl>
                            {{/each}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
        <!-- // choco -->
    </div>
    <!-- // 내용 -->
</div>
<!-- // 보드 C -->
