<div class="comp_board">
    <video class="bg" autoplay loop>
        <source type="video/mp4" src="{{Background}}">
    </video>
    <div class="content">
        <div class="main-wrapper">
            <div class="main-wrapper-mask"></div>
            <!--<div class="main-wrapper-blur" style="background-image: url(/Template/assets/source/seoul-sm.jpg)"></div>-->
            <!--<div></div>-->
            <div class="main-wrapper-front">
                <div class="full-center">
                    <div class="widget-block">
                        <!-- MAIN AREA -->
                        <div class="img-area">
                            <div class="img-area-mask"></div>
                            <img src="/Template/assets/source/seoul-sm.jpg" alt="">
                            <div class="img-area-front">
                                <h5 class="location">금천구</h5>
                                <p class="today">화요일, 2월 28일, 18:20</p>
                                <div class="weather-desc">
                                    <span>맑음</span>
                                </div>
                                <ul class="weather-block-info">
                                    <li>
                                        <p class="temperature" id="temperature">25<span class="temperature-feels">최저 -2 / 최고 20</span></p>
                                    </li>
                                    <li>
                                        <i class="wi wi-owm-day-701" style="font-size:150px;margin: 35px 30px;"></i>
                                    </li>
                                    <li>
                                        <ul class="weather-params" id="weather-params">
                                            <li><i class="wi wi-barometer" style="font-size:30px;margin-right:10px;"></i><span>743 hPa</span></li>
                                            <li><i class="wi wi-humidity" style="font-size:30px;margin-right:10px;"></i><span>46% 습도</span></li>
                                            <li><i class="wi wi-wind towards-360-deg" style="font-size:30px;margin-right:10px;"></i> <span>2m/s</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /MAIN AREA -->
                        <!-- WEATHER FORECAST -->
                        <ul class="week-forecast" id="week-forecast">
                            <li class="sun">
                                <div class="inner">
                                    <h5 class="week-day">월요일</h5>
                                    <i class="wi wi-owm-day-701" style="font-size:30px;margin:20px 0px;"></i>
                                    <!--<i class="climacon sun"></i>-->
                                    <p class="week-day-temperature">30</p>
                                </div>
                            </li>
                            <li class="rain">
                                <div class="inner">
                                    <h5 class="week-day">화요일</h5>
                                    <i class="climacon rain"></i>
                                    <p class="week-day-temperature">25</p>
                                </div>
                            </li>
                            <li class="cloud">
                                <div class="inner">
                                    <h5 class="week-day">수요일</h5>
                                    <i class="climacon cloud"></i>
                                    <p class="week-day-temperature">32</p>
                                </div>
                            </li>
                            <li class="sun">
                                <div class="inner">
                                    <h5 class="week-day">목요일</h5>
                                    <i class="climacon sun"></i>
                                    <p class="week-day-temperature">30</p>
                                </div>
                            </li>
                            <li class="lightning">
                                <div class="inner">
                                    <h5 class="week-day">금요일</h5>
                                    <i class="climacon lightning"></i>
                                    <p class="week-day-temperature">29</p>
                                </div>
                            </li>
                            <li class="sun">
                                <div class="inner">
                                    <h5 class="week-day">토요일</h5>
                                    <i class="climacon sun"></i>
                                    <p class="week-day-temperature">25</p>
                                </div>
                            </li>
                            <li class="rain">
                                <div class="inner">
                                    <h5 class="week-day">일요일</h5>
                                    <i class="climacon rain"></i>
                                    <p class="week-day-temperature">22</p>
                                </div>
                            </li>
                        </ul>
                        <!-- /WEATHER FORECAST -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
