<!-- 보드 B -->
<div class="comp_board">
    <video class="bg" autoplay loop>
        <source type="video/mp4" src="Template/assets/source/board_b_bg.mp4">
    </video>
    
    <!-- 내용 -->
    <div class="content">
        <!-- hot sandwiches -->
        <section class="hot_menu">
            <h2><img src="Template/assets/source/title_hot.png" alt="HOT SANDWICHES"></h2>
            <ul class="list">
                <li>
                    <span class="num">1</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img1.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">허니 햄에그 슬라이더</span>
                                    <span class="eng">Honey Ham &#38; Egg Slider</span>
                                </dt>
                                <dd>콤보 <strong>3,900</strong></dd>
                                <dd>단품 <strong>2,900</strong></dd>
                            </dl>
                            <span class="kcal">콤보 387 - 540 ㎉<br>단품 380 ㎉ (144g)</span>
                        </figcaption>
                    </figure>
                    <img class="new" src="Template/assets/source/new_out.gif" alt="new" data-in="Template/assets/source/new_in.gif" data-out="Template/assets/source/new_out.gif">
                </li>
                <li>
                    <span class="num">2</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img2.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">베이컨에그 잉글리쉬 머핀</span>
                                    <span class="eng">Bacon &#38; Egg English Muffin</span>
                                </dt>
                                <dd>콤보 <strong>4,000</strong></dd>
                                <dd>단품 <strong>3,000</strong></dd>
                            </dl>
                            <span class="kcal">콤보 297 - 450 ㎉<br>단품 290 ㎉  (121g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">3</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img3.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">BBQ 풀드 치킨</span>
                                    <span class="eng">Barbeque Pulled Chicken</span>
                                </dt>
                                <dd>콤보 <strong>4,900</strong></dd>
                                <dd>단품 <strong>3,900</strong></dd>
                            </dl>
                            <span class="kcal">콤보 442 - 595 ㎉<br>단품 435 ㎉ (150g)</span>
                        </figcaption>
                    </figure>
                    <img class="new" src="Template/assets/source/new_out.gif" alt="new" data-in="Template/assets/source/new_in.gif" data-out="Template/assets/source/new_out.gif">
                </li>
                <li>
                    <span class="num">4</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img4.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">햄에그 잉글리쉬 머핀</span>
                                    <span class="eng">Ham &#38; Egg English Muffin</span>
                                </dt>
                                <dd>콤보 <strong>4,000</strong></dd>
                                <dd>단품 <strong>3,000</strong></dd>
                            </dl>
                            <span class="kcal">콤보 267 - 420 ㎉<br>단품 260 ㎉ (123g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">5</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img5.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">스파이시 치킨 브리또</span>
                                    <span class="eng">Spicy Chicken Burrito</span>
                                </dt>
                                <dd>콤보 <strong>4,500</strong></dd>
                                <dd>단품 <strong>3,500</strong></dd>
                            </dl>
                            <span class="kcal">콤보 262 - 415 ㎉<br>단품 255 ㎉ (122g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">6</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img6.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">케이준 잠발라야 브리또</span>
                                    <span class="eng">Cajun Jambalaya Burrito</span>
                                </dt>
                                <dd>콤보 <strong>4,500</strong></dd>
                                <dd>단품 <strong>3,500</strong></dd>
                            </dl>
                            <span class="kcal">콤보 277 - 430 ㎉<br>단품 270 ㎉ (146g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">7</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img7.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">그릴드 치즈 치아바타</span>
                                    <span class="eng">Grilled Cheese Ciabatta</span>
                                </dt>
                                <dd>콤보 <strong>4,500</strong></dd>
                                <dd>단품 <strong>3,500</strong></dd>
                            </dl>
                            <span class="kcal">콤보 357 - 510 ㎉<br>단품 350 ㎉ (110g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">8</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img8.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">칠리 소시지 핫도그</span>
                                    <span class="eng">Chili Sausage Hotdog</span>
                                </dt>
                                <dd>콤보 <strong>4,500</strong></dd>
                                <dd>단품 <strong>3,500</strong></dd>
                            </dl>
                            <span class="kcal">콤보 312 - 465 ㎉<br>단품 305 ㎉ (122g)</span>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <span class="num">9</span>
                    <figure>
                        <img src="Template/assets/source/board_b_menu_img9.png" alt="">
                        <figcaption>
                            <dl>
                                <dt>
                                    <span class="kor">스테이크 텍사스 토스트</span>
                                    <span class="eng">Steak Texas Toast</span>
                                </dt>
                                <dd>콤보 <strong>4,900</strong></dd>
                                <dd>단품 <strong>3,900</strong></dd>
                            </dl>
                            <span class="kcal">콤보 607 - 760 ㎉<br>단품 600 ㎉ (218g)</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <!-- // hot sandwiches -->
        
        <!-- aside -->
        <div class="aside">
            <section class="combo">
                <h3>콤보 음료를 선택해 주세요!</h3>
                <ul>
                    <li>
                        <figure>
                            <img src="Template/assets/source/combo_img1.png" alt="">
                            <figcaption>핫아메리카노 <span>(220㎖)</span></figcaption>
                        </figure>
                        <img class="balloon" src="Template/assets/source/combo_balloon1.gif" alt="금액 추가시 아메리카노 사이즈 변경 가능">
                    </li>
                    <li>
                        <figure>
                            <img src="Template/assets/source/combo_img2.png" alt="">
                            <figcaption>아이스 아메리카노 <span>(260㎖)</span></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="Template/assets/source/combo_img3.png" alt="">
                            <figcaption>오렌지 주스 <span>(260㎖)</span></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="Template/assets/source/combo_img4.png" alt="">
                            <figcaption>콜라 <span>(355㎖)</span></figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <div class="info">
                <img src="Template/assets/source/txt_open.png" alt="OPEN 11:00 AM">
                <p>
                    해피포인트 앱만 보여주면<br>
                    <strong>단품가격으로<br>콤보제공</strong>
                </p>
            </div>
            <img class="happypoint" src="Template/assets/source/happypoint.gif" alt="">
        </div>
        <!-- // aside -->
    </div>
    <!-- // 내용 -->
</div>
<!-- // 보드 B -->